
body {
    background: #252831;
    color: #fff;
}

.header__title {
    font-weight: 200;
}




.svg-container {
	position: relative;
	padding-bottom: 100%;
    max-width: 100%;
}

.svg-content {
	position: absolute;
	top: 0;
	left: 0;
}
