@import url("./button.css");
.App {
  text-align: center;
}

.root-container {
  height:100%;
  width:100%;
}

.state-details h5, .text-details {
  color: black;
  font-size: 1.3rem;
  line-height: 100%;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.30s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.015);
}

.grow:active {
  transform: scale(.90);
}

.pointer {
  cursor: pointer;
}

.text-muted {
  font-weight: 100;
  opacity: 0.6;
}